{% extends 'base.html' %}

{% block title %}Главная-Ваш сайт{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать на ваш сайт!</h1>
    <p class="lead">Это домашняя страница вашего сайта Django.</p>
    <hr class="my-4">
    <p>Используйте эту область, чтобы предоставить обзор вашего сайта, услуг или любой другой информации, которую вы хотели бы донести до посетителей.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
</div>
{% endblock %}