{% extends 'base.html' %}

{% block title %}Новости нашего сайта.{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="display-4">Новости</h1>
    <p class="lead">Добро пожаловать в раздел новостей.</p>
    {% for news in news %}

    <div>
       <h3>{{ news.title }}</h3>
       <p>{{ news.short_description }}</p>
       <p>{{ news.text }}</p>
       <p>{{ news.pub_date }}</p>
       <p>{{ news.name_user }}</p>

    </div>

    {% endfor %}

    <!-- Add your news content here -->
</div>
{% endblock %}
